body {
  background: rgb(34, 34, 34);
}

.page-link {
  background-color: #333333 !important;
  border: 1px solid #4e4f52 !important;
  color: rgb(155, 155, 155) !important
}

.page-item.active .page-link {
  color: white !important;
  background-color: #4e4f52 !important;
}